# coding: utf-8

"""
    PhagesDB API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from phagesdb_client.api_client import ApiClient


class GenbankupdatedApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def genbankupdated_read(self, year, month, day, **kwargs):  # noqa: E501
        """Phages by Genbank File update date  # noqa: E501

        Phages by Genbank File update date  Get detailed information about all phages whose QCed Genbank files have changed since a certain date  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.genbankupdated_read(year, month, day, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str year:  (required)
        :param str month:  (required)
        :param str day:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.genbankupdated_read_with_http_info(year, month, day, **kwargs)  # noqa: E501
        else:
            (data) = self.genbankupdated_read_with_http_info(year, month, day, **kwargs)  # noqa: E501
            return data

    def genbankupdated_read_with_http_info(self, year, month, day, **kwargs):  # noqa: E501
        """Phages by Genbank File update date  # noqa: E501

        Phages by Genbank File update date  Get detailed information about all phages whose QCed Genbank files have changed since a certain date  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.genbankupdated_read_with_http_info(year, month, day, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str year:  (required)
        :param str month:  (required)
        :param str day:  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['year', 'month', 'day']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method genbankupdated_read" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'year' is set
        if ('year' not in params or
                params['year'] is None):
            raise ValueError("Missing the required parameter `year` when calling `genbankupdated_read`")  # noqa: E501
        # verify the required parameter 'month' is set
        if ('month' not in params or
                params['month'] is None):
            raise ValueError("Missing the required parameter `month` when calling `genbankupdated_read`")  # noqa: E501
        # verify the required parameter 'day' is set
        if ('day' not in params or
                params['day'] is None):
            raise ValueError("Missing the required parameter `day` when calling `genbankupdated_read`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'year' in params:
            path_params['year'] = params['year']  # noqa: E501
        if 'month' in params:
            path_params['month'] = params['month']  # noqa: E501
        if 'day' in params:
            path_params['day'] = params['day']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/genbankupdated/{year}/{month}/{day}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
